header {
    background-color: cadetblue;
    color: #fff;
    padding: 1px;
    text-align: center;
}

body {
    background-color: lightgrey; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16px;
}

.h1-textos{
    color: darkslateblue; 
    background-color: darkkhaki; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 2em; 
    text-align: center;
}

h2{
    background-color: tan; 
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center;
}

p{
    text-align: justify;
}

footer {
    font-size: large;
    text-align: center;
    background-color: cadetblue;
    color: #fff;
    padding: 10px;
}


.ul-links {
    display: flex;
    font-size: 24px;
    justify-content:center;
    padding-right: 60px;
    gap: 30px;
    list-style-type: none;
}

.container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 70vh; /* Define a altura do contêiner como 70% da altura da janela */
}

img {
    max-width: 100%; /* Certifica-se de que a imagem não ultrapassa o contêiner */
    max-height: 100%; /* Certifica-se de que a imagem não ultrapassa o contêiner */
}


